# List
    - ordered
    - list can be arbitrary objects
    - list element can be accesed by index
    - list are mutable
    - nested to arbitrary depth
    - dynamic

In [ ]:
x = [23,42,23,75,43,87]
y = ["apple","banana","coconut","date","elaichi"]
z = ["apple",100,"banana",40,"coconut",50]

In [ ]:
print(x,y,z)

In [ ]:
print(x[0]) # Frist index
print(y[-1]) # last index of y
print(z[4]) #4th index or 5th element

In [ ]:
print(z[100]) # Error out of range

In [ ]:
y[0] = "avacado" # Replacing

In [ ]:
y

In [ ]:
z[1] = 150

In [ ]:
z

In [ ]:
# Iterration
for fruit in y:
    print(fruit)

In [ ]:
list_of_movies = ["300","Underworld","The dark knight","Predestination","Intersteller","The mummy","Venom","Eternals","Lords of the ring","Fast and Furious"]

In [ ]:
len(list_of_movies)

In [ ]:
# Slicing
list_of_movies[:5]

In [ ]:
list_of_movies[-5:]

In [ ]:
list_of_movies[::2] # printing skiping the one element each time

In [ ]:
list_of_movies[::-1] # Printing in reverse order

In [ ]:
x = [1,2,3,4,5]
y = [7,8,9,6,5]

In [ ]:
x+y # Concatination

In [ ]:
x * 4

In [ ]:
[1]*10 #list duplication for less coading

In [ ]:
x=[1]
y=[1]
x >= y

In [ ]:
x = ["a",["bb",["ccc","ddd"],"ee","ff"],"g",["hh","ii"],"j"]

In [ ]:
x = [1,2,3]
y = ["apple","banana","cherry"]
z = [1,2,3,4,5]
xy = [x,y,z]

In [ ]:
xy

In [ ]:
xy[2][4]

In [ ]:
xy[1][0]

In [ ]:
dir(xy)

# List Functions
    - add element to the list
    - remove elemnet from list
    - utility functions

In [1]:
#Insert
mylist = [5,5,5,5,5,4,4,5,5]

In [2]:
mylist.insert(2,100)

In [3]:
mylist

[5, 5, 100, 5, 5, 5, 4, 4, 5, 5]

In [4]:
# append
mylist.append(84166841)

In [5]:
mylist

[5, 5, 100, 5, 5, 5, 4, 4, 5, 5, 84166841]

In [6]:
mylist.append([5,5,5,5,5,2,2,58,85,5,4,85])

In [7]:
mylist

[5,
 5,
 100,
 5,
 5,
 5,
 4,
 4,
 5,
 5,
 84166841,
 [5, 5, 5, 5, 5, 2, 2, 58, 85, 5, 4, 85]]

In [8]:
mylist.insert(0,86419)

In [9]:
mylist

[86419,
 5,
 5,
 100,
 5,
 5,
 5,
 4,
 4,
 5,
 5,
 84166841,
 [5, 5, 5, 5, 5, 2, 2, 58, 85, 5, 4, 85]]

In [10]:
mylist.insert(0,"AIR")

In [11]:
mylist

['AIR',
 86419,
 5,
 5,
 100,
 5,
 5,
 5,
 4,
 4,
 5,
 5,
 84166841,
 [5, 5, 5, 5, 5, 2, 2, 58, 85, 5, 4, 85]]

In [14]:
x = [1,2,32,5,8,8,8,84]
y = [15,6,5]
x.extend(y)          #To extend the list

In [15]:
x

[1, 2, 32, 5, 8, 8, 8, 84, 15, 6, 5]

In [16]:
fruits = ["apple","banana","cherry"]

In [17]:
vegs=["potato","tomato","cabbage"]

In [18]:
fruits.extend(vegs)

In [19]:
fruits

['apple', 'banana', 'cherry', 'potato', 'tomato', 'cabbage']

In [20]:
# Romoving data
fruits.remove("tomato")

In [21]:
fruits

['apple', 'banana', 'cherry', 'potato', 'cabbage']

In [22]:
fruits.remove("momos")  #It will cause an error

ValueError: list.remove(x): x not in list

Dangerous due to error through "list.remove(x): x not in list"

In [25]:
#Checking if momos exist or not frist to resolve the error
if "momos" in fruits:
    fruits.remove("momos")

In [26]:
fruits

['apple', 'banana', 'cherry', 'potato', 'cabbage']

In [27]:
# pop function
fruits.pop(1)

'banana'

In [28]:
fruits.pop(-2)

'potato'

In [29]:
fruits.pop() #Removes the last element

'cabbage'

In [30]:
fruits.clear()

In [31]:
fruits

[]

In [32]:
# Count function
x = ["1","2","3","4","5","6","7","2"]
x.count("2")

2

In [33]:
x.count("5")

1

In [34]:
# Reverse function
x.reverse()
x

['2', '7', '6', '5', '4', '3', '2', '1']

In [35]:
x[::-1] #Only shows output(reverse of list is shown) and do not change the variable's value

['1', '2', '3', '4', '5', '6', '7', '2']

In [36]:
x.sort(reverse=True)    #For desending order reverse = ture

In [37]:
x

['7', '6', '5', '4', '3', '2', '2', '1']

In [38]:
vegs.index("zomato") #It would cause an error

ValueError: 'zomato' is not in list

In [40]:
# Check before running
if "zomato" in vegs:
    print(vegs.index("zomato"))         #wo'nt cause error this time

In [42]:
if "cabbage" in vegs:
    print(vegs.index("cabbage"))        # Used to find the index of a paticualr item in a list

2

In [43]:
x = ["9","6","5","7"]
y = ["9","6","7","984","4","4654"]
x = y

In [44]:
x.append("sd;foawhfn")

In [45]:
y

['9', '6', '7', '984', '4', '4654', 'sd;foawhfn']

This happened because in python the variable works as a pointers and by assigning one value to other we are making both point to the same memory location

in order to copy data we use copy function

In [46]:
z = x.copy()

In [47]:
z

['9', '6', '7', '984', '4', '4654', 'sd;foawhfn']

In [48]:
x.append(12)

In [50]:
z          #This time z will remain unaffected

['9', '6', '7', '984', '4', '4654', 'sd;foawhfn']

In [51]:
x

['9', '6', '7', '984', '4', '4654', 'sd;foawhfn', 12]

# Question 1
    -Wap to write a programe to find the second highest marks from a list of marks
    ex - 93 56 56 30 92 23 93

In [58]:
marks = [93,56,56,30,92,23,93,103,103,103]
index = -2
marks.sort()
while True:
    if marks[index] != marks[-1]:
        print(marks[index])
        break
    elif marks[index] != marks[0]:
        index -= 1
    else:
        print("There is no second highest number")
        break

93

# Question 2
    -Same Question with third highest number

In [73]:
marks = [93,56,56,30,92,23,93,103,103,103]
marks.sort()
last = -1
counter = 1
index  = -2
while True:
    if marks[index] != marks[last]:
        counter += 1
        if counter == 3:
            print(marks[index])
            break
        last = index
        index -= 1
    elif marks[index] != marks[0]:
        lasr = index
        index -= 1
    else:
        print("There is no third highest number")

92