# Tuples
    - Ordered
    - Immutable
    - By default Data Structure

In [1]:
tup = (1,5,8,9,6,8)

In [2]:
type(tup)

tuple

In [3]:
tup1 = 1,8,5,5,5
type(tup1)

tuple

In [4]:
tup[2]

8

In [5]:
tup[2] = 5   #It will cause an error

TypeError: 'tuple' object does not support item assignment

# Set
    - unordered dataset
    - mutable
    - contains only immutable value

In [6]:
set([1,2,3,4,5,6,7,8,9,10])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
set("iterator")

{'a', 'e', 'i', 'o', 'r', 't'}

In [8]:
{1,8,6,4,"dsfa","sdfsa",4,True}

{1, 4, 6, 8, 'dsfa', 'sdfsa'}

In [9]:
# Making an empty set
s = set()
type(s)

set

In [10]:
a = {}
type(a)

dict

In [11]:
{1,False,None,"apple",6}  #Different type of data set can be added

{1, 6, False, None, 'apple'}

In [12]:
{[4,5,5,6]}   #but not the mutable one

TypeError: unhashable type: 'list'

In [13]:
s = set()
s.add(4186)
s.add(64451)
s

{4186, 64451}

In [15]:
s.update([1,2,3,4,5,6])

In [16]:
s.remove(4)    #Dangerous because through an error if not found

In [18]:
s.remove(68494)       #Checking conditions is must

KeyError: 68494

# Set Function
    - union 
    - intersection
    - subtraction

In [19]:
a = {"foo","bar","baz"}
b = {"baz","qux","quux"}

In [20]:
a.union(b)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [21]:
a|b

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [22]:
a.difference(b)

{'bar', 'foo'}

In [23]:
print(a.difference(b),a-b)

{'bar', 'foo'} {'bar', 'foo'}

In [24]:
a.symmetric_difference(b)

{'bar', 'foo', 'quux', 'qux'}

In [25]:
a^b

{'bar', 'foo', 'quux', 'qux'}

In [38]:
a = {1,2,3,4,5,6,7}
b = {1,2,3,4,5,6,7}
a-b

set()

In [39]:
a.isdisjoint(b)

False

In [40]:
a.issubset(b)

True

In [41]:
b.pop()

1

In [42]:
a<b          #Subset short form(a is subset of b)

False

In [43]:
a>=b          #Superset shot form(a is superset of b)

True

In [44]:
a = {1,2,3,4,5,6,7,8,9}
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [46]:
words = {"banana","piharana","rihana"}

In [48]:
for i in words:
    print(i, end=" ")

banana piharana rihana

# interconversion of data types
list<-> set<-> tuple<->list

In [49]:
x = [4,5,6,1,2,3,7,8]
x

[4, 5, 6, 1, 2, 3, 7, 8]

In [50]:
x1 = set(x)

In [51]:
type(x1)

set

In [52]:
x1 = tuple(x1)

In [53]:
type(x1)

tuple

In [54]:
a = list(set(tuple(x)))

In [55]:
type(a)

list